
$cMainColor: #963763;
$cSubColor: #eee;
$cFontColor: #333;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','Arial',sans-serif;
    min-height: 100vh;
    background-color: $cSubColor;
}

.header {
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    & > a {
        display: inline-block;
        margin-left: 5%;
        & img {
            height: 40px;
        }    
    }
    & .menu {
        display: flex;
        & li {
            margin-right: 100px;
            & a {
                color: $cFontColor;
                font-weight: 500;
                display: block;
                transition: all 0.3s;
                &:hover {
                    color: $cMainColor;
                }
            }
        }
    }
}

.container {
    margin: 150px auto;
    & .container-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        & h2 {
            letter-spacing: 4px;
            margin-bottom: 30px;
        }
    }

    & .wrapper {
        width: 70%;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        & .text-contents {
            width: 60%;
            margin: 0 auto;
            padding: 50px 0;
            & p {
                letter-spacing: 1px;
                line-height: 40px;
            }
        }
    }
}




footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    & img {
        display: inline-block;
        margin-right: 50px;
        height: 40px;
    }
}