
$cMainColor: #963763;
$cSubColor: #eee;
$cFontColor: #333;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','Arial',sans-serif;
    min-height: 100vh;
    background-color: $cSubColor;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    & > a {
        display: inline-block;
        margin-left: 5%;
        & img {
            height: 40px;
        }    
    }
    & .menu {
        display: flex;
        & li {
            margin-right: 100px;
            & a {
                color: $cFontColor;
                font-weight: 500;
                display: inline-block;
                transition: all 0.3s;
                &:hover {
                    color: $cMainColor;
                }
            }
        }
    }
}

p {
    margin-top: 150px;
    text-align: center;
    & a {
        color: $cFontColor;
        display: inline-block;
        margin: 0 10px;
        &:hover {
            border-bottom: 1px solid $cMainColor;
            color: $cMainColor;
        }
    }
}

.container {
    width: 80%;
    margin: 50px auto 150px;
    & h2 {
        border-bottom: 2px solid $cMainColor;
        margin-bottom: 50px;
        color: $cFontColor;
        &::after {
            content: "at.女子部情報室";
            margin-left: 50px;
        }
    }
    & table {
        width: 100%;
        & th, td {
            text-align: center;
            padding: 30px 0;
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    & img {
        display: inline-block;
        margin-right: 50px;
        height: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        & .menu {
            & li {
                margin-right: 50px;
                & a {
                    font-size: 14px;
                }
            }
        }
    }    
}
@media screen and (max-width: 950px) {
    .header {
        & > a {
            margin-left: 2%;
            & img {
                height: 30px;
            }
        }
        & .menu {
            & li {
                margin-right: 20px; 
            }
        }    
    }    
}

@media screen and (max-width: 800px) {
    .header {
        & > a {
            margin-left: 5%;
            & img {
                height: 40px;
            }
        }
        & .menu {
            display: none;
        }
    }    
}