@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','Arial',sans-serif;
  min-height: 100vh;
  background-color: #eee;
}

.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header > a {
  display: inline-block;
  margin-left: 5%;
}

.header > a img {
  height: 40px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu li {
  margin-right: 100px;
}

.header .menu li a {
  color: #333;
  font-weight: 500;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu li a:hover {
  color: #963763;
}

.container {
  margin-top: 150px;
}

.container .container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
}

.container .container-head h3 {
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.container .container-head p {
  font-size: 14px;
  margin-bottom: 5px;
}

.container .container-body {
  width: 90%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container-body .contents {
  width: 25%;
  height: 250px;
  padding: 20px 2% 0 0;
}

.container .container-body .contents a {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.301);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.301);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .container-body .contents a .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 6px;
  position: relative;
}

.container .container-body .contents a .text p {
  margin-top: 40px;
  margin-bottom: 30px;
  color: whitesmoke;
}

.container .container-body .contents a .text h4 {
  color: whitesmoke;
  width: 80%;
  text-align: center;
}

.container .container-body .contents a .text h6 {
  color: whitesmoke;
  font-size: 14px;
  width: 70%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 180px;
  font-weight: 500;
}

.container .container-body .contents a .text .many {
  font-size: 14px;
}

.container .container-body .contents a:hover {
  opacity: 0.7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .container-body .contents .pictogram {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/pictogram.webp);
}

.container .container-body .contents .children {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/children.webp);
}

.container .container-body .contents .refugee {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/refugee.jpg?raw=true);
}

.container .container-body .contents .staining {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/staining.jpg?raw=true);
}

.container .container-body .contents .communication {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/rules.webp);
}

.container .container-body .contents .campus {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/campus.webp);
}

.container .container-body .contents .yen {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/100yen.webp);
}

.container .container-body .contents .oldperson {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/oldperson.jpg?raw=true);
}

.container .container-body .contents .war {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/war.webp);
}

.container .container-body .contents .artist {
  background-image: url(https://raw.githubusercontent.com/JiyuGakuen/Kyouyuukai/main/image/symbiosis/art.webp);
}

.container .container-body .contents .peace {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/peaceword.jpg?raw=true);
}

.container .container-body .contents .WATS {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/learning.jpg?raw=true);
}

.container .container-body .contents .SDGs {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/SDGs.jpg?raw=true);
}

.container .container-body .contents .gender {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/gender.jpg?raw=true);
}

.container .container-body .contents .olympism {
  background-image: url(https://github.com/JiyuGakuen/Kyouyuukai/blob/main/image/symbiosis/olympism.jpg?raw=true);
}

.table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 200px auto 0;
  padding: 100px 0;
  background-color: white;
}

.table-wrapper h3 {
  text-align: center;
  padding: 20px 0;
}

.table-wrapper table {
  width: 80%;
  border-collapse: collapse;
}

.table-wrapper table th, .table-wrapper table td {
  border: 1px solid #333;
  text-align: center;
  padding: 10px 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

footer img {
  display: inline-block;
  margin-right: 50px;
  height: 40px;
}

.responsibleContents {
  width: 90%;
  margin: 200px auto;
  background-color: white;
  padding: 10px 20px;
  display: none;
}

.responsibleContents h3 {
  text-align: center;
  padding: 20px 0;
}

.responsibleContents h4 {
  font-size: 20px;
  border-bottom: 2px solid #333;
  margin-top: 30px;
  margin-bottom: 10px;
}

.responsibleContents p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .header .menu li {
    margin-right: 50px;
  }
  .header .menu li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .header > a {
    margin-left: 2%;
  }
  .header > a img {
    height: 30px;
  }
  .header .menu li {
    margin-right: 20px;
  }
  .container .container-body .contents {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .header > a {
    margin-left: 5%;
  }
  .header > a img {
    height: 40px;
  }
  .header .menu {
    display: none;
  }
  .container .container-head {
    width: 90%;
  }
  .container .container-body .contents {
    width: 100%;
  }
}

@media screen and (max-width: 00px) {
  .table-wrapper {
    display: none;
  }
  .responsibleContents {
    display: block;
  }
}

/*# sourceMappingURL=symbiosis.css.map */
