@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','Arial',sans-serif;
  min-height: 100vh;
  background-color: #eee;
  height: 2000px;
}

.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header > a {
  display: inline-block;
  margin-left: 5%;
}

.header > a img {
  height: 40px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu li {
  margin-right: 100px;
}

.header .menu li a {
  color: #333;
  font-weight: 500;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu li a:hover {
  color: #963763;
}

.container {
  margin: 150px 0;
}

.container .container-head {
  width: 70%;
  margin: 0 auto;
}

.container .container-head h3 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.container .container-head p {
  font-size: 14px;
  margin-bottom: 5px;
}

.container .container-body {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container-body .contents {
  width: 20%;
  height: 300px;
  margin: 20px 20px;
  background-size: cover;
  border-radius: 6px;
}

.container .container-body .contents a {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 100px;
  color: white;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .container-body .contents a:hover {
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .container-body .Entertainment {
  background-image: url(/image/juniorHighSeeking/Entertainment.jpg);
}

.container .container-body .sports {
  background-image: url(/image/juniorHighSeeking/sports.jpg);
}

.container .container-body .lifeStyle {
  background-image: url(/image/juniorHighSeeking/lifeStyle.webp);
}

.container .container-body .Socialissues {
  background-image: url(/image/juniorHighSeeking/Socialissues.jpg);
}

.container .container-body .Art {
  background-image: url(/image/juniorHighSeeking/Art.jpg);
}

.container .container-body .Science {
  background-image: url(/image/juniorHighSeeking/Science.jpg);
}

.container .container-body .History {
  background-image: url(/image/juniorHighSeeking/History.webp);
}

.container .container-body .Anthropology {
  background-image: url(/image/juniorHighSeeking/Anthropology.webp);
}

.container .container-body .AnimalPlants {
  background-image: url(/image/juniorHighSeeking/AnimalPlants.jpg);
}

.container .container-body .workshop {
  background-image: url(/image/juniorHighSeeking/workshop.webp);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

footer img {
  display: inline-block;
  margin-right: 50px;
  height: 40px;
}

@media screen and (max-width: 1200px) {
  .header .menu li {
    margin-right: 50px;
  }
  .header .menu li a {
    font-size: 14px;
  }
  .container .container-body {
    width: 90%;
  }
  .container .container-body .contents {
    width: 28%;
  }
}

@media screen and (max-width: 950px) {
  .header > a {
    margin-left: 2%;
  }
  .header > a img {
    height: 30px;
  }
  .header .menu li {
    margin-right: 20px;
  }
  .container .container-body {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .container-body .contents {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .header > a {
    margin-left: 5%;
  }
  .header > a img {
    height: 40px;
  }
  .header .menu {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container .container-body .contents {
    width: 100%;
  }
}
/*# sourceMappingURL=juniorhighSeeking.css.map */